name: Continuous Integration
on: 
  push:
    branches:
      - main
  pull_request:

jobs:

  test-makefile:
    name: build and test makefile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make tar diffutils bzip2 gzip curl git
      - name: run make
        run: make

  test-fedora:
    name: build and test on Fedora latest
    runs-on: ubuntu-latest
    container:
      image: quay.io/fedora/fedora:latest
      options: --user root
    steps:
      - name: Install dependencies
        run: |
          dnf update -y
          dnf install -y golang make tar diffutils bzip2 gzip curl git which
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Build and test
        run: make
